@media (max-width: 1280.98px) {
  .font--64 {
    font-size: 48px;
    line-height: 60px;
  }

  .hero__bottles {
    height: 500px;
  }

  .container {
    padding: 0 40px;
  }

  .hero__logo {
    width: 450px;
    height: auto;
  }

  .about {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .about__right {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
  }

  .signature__image {
    margin-top: 0;
  }

  .about__image {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .signature__image {
    height: 70px;
  }

  .vineyards {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .vineyards__images {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .vineyards__content {
    gap: 30px;
  }

  .section__element {
    height: 400px;
  }

  .section__element--slider {
    height: 300px;
  }

  .section__element--product {
    height: 350px;
  }

  .section__element--header {
    left: 40% !important;
    transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
  }
}

@media (max-width: 992.98px) {
  .font--48 {
    font-size: 48px;
    line-height: 56px;
  }

  .hero-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
  }

  .line-section-heading {
    line-height: 52px;
  }

  .gallery {
    flex-direction: column-reverse;
  }

  .gallery__right {
    max-width: 100%;
  }

  .product__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 16px;
    line-height: 26px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 30px;
    line-height: 40px;
  }

  .font--16 {
    font-size: 14px;
    line-height: 22px;
  }

  .font--18 {
    font-size: 16px;
    line-height: 26px;
  }

  .font--40 {
    font-size: 30px;
    line-height: 40px;
  }

  .font--48 {
    font-size: 30px;
    line-height: 40px;
  }

  .font--64 {
    font-size: 36px;
    line-height: 46px;
  }

  .hero__bottles {
    height: 270px;
  }

  .about-area,
  .vineyards-area,
  .product-area,
  .faq-area {
    padding: 60px 0;
  }

  .gallery-area {
    padding-top: 130px;
    padding-bottom: 60px;
  }

  .container {
    padding: 0 20px;
  }

  .custom__btn {
    width: fit-content;
    min-width: 134px;
    height: 44px;
    padding: 12px;
    font-size: 14px;
    line-height: 22px;
    gap: 6px;
  }

  .custom__btn img {
    width: 20px;
  }

  .nav__logo,
  .footer__logo {
    width: fit-content;
    height: 54px;
  }

  .hero__logo {
    width: 100%;
  }

  .hero .custom__btn {
    margin-top: 32px;
  }

  .about-area h1 {
    margin-bottom: 24px;
  }

  .signature__image {
    height: 50px;
  }

  .about {
    gap: 24px;
  }

  .about__right {
    gap: 32px;
  }

  .line-section-heading {
    font-size: 30px;
    line-height: 40px;
  }

  .vineyards {
    margin-top: 48px;
  }

  .vineyards__images,
  .vineyards__content-images {
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .vineyards__image {
    height: 230px;
  }

  .vineyards__image1 {
    grid-column: 1;
  }

  .product__item {
    height: 400px;
  }

  .accordion__button {
    font-size: 18px;
    line-height: 28px;
  }

  .accordion__icon {
    width: fit-content;
    height: 18px;
    object-fit: contain;
  }

  .gallery__left {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery__image1 {
    grid-column: 1;
  }

  .gallery__image {
    height: 230px;
  }

  .gallery__image-product img {
    height: 180%;
    top: -70%;
  }

  .custom__accodion {
    margin-top: 48px;
  }

  .hero-area {
    padding: 80px 0;
  }

  .product__arrow {
    width: 28px;
    height: 28px;
  }

  .product__arrow img {
    width: 12px;
  }

  .product__arrows {
    gap: 20px;
    margin-bottom: 20px;
  }

  .section__element {
    height: 300px;
    bottom: -100px;
  }

  .section__element--slider {
    height: 200px;
  }

  .section__element--product {
    height: 250px;
  }

  .history__images img {
    height: auto;
  }

  .product-list__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  .product-list__item img {
    height: 390px;
  }

  .intro__bg-image {
    height: 300px;
  }

  .product-list__items {
    flex-direction: column;
  }

  .product-list__item {
    border-left: 0;
    border-right: 0 !important;
    max-width: 100%;
  }

  .product__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}
