@font-face {
  font-family: "Geomanist";
  src: url("Geomanist-Book.ttf") format("truetype"),
    url("Geomanist-Book.woff") format("woff"),
    url("Geomanist-Book.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geomanist";
  src: url("Geomanist.ttf") format("truetype"),
    url("Geomanist.woff") format("woff"), url("Geomanist.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geomanist";
  src: url("Geomanist-Medium.ttf") format("truetype"),
    url("Geomanist-Medium.woff") format("woff"),
    url("Geomanist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geomanist";
  src: url("Geomanist-Bold.ttf") format("truetype"),
    url("Geomanist-Bold.woff") format("woff"),
    url("Geomanist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
